*
{
margin:0px;
padding:0px;
}

body
{
display:flex;
justify-content:center;
place-items:center;
width:100vw;
height:100vh;
background:black;}


button
{
width:125px;
height:50px;
color:white;
border-radius:15px;
box-shadow:2px 2px 4px grey;
background:#ccb116;
font-size:150%;
margin:50px;
}


.bottle
{
width:175px;
height:550px;
background:silver;
margin:50px;
border-radius:20px;
display:flex;
flex-flow:wrap column;
overflow:hidden;
justify-content:flex-end;

}

.cap
{
width:40px;
height:20px;
background:#0366fc;
transform:translate(160px,-286px);
}

.ele
{width:175px;
height:500px;
background:#05b5f5;
}

